@media (min-width: 768px) {
    .logo {
        position: fixed;
        left: 0.2rem;
        top: 0.5rem;
        width: 6rem;
        & svg {
            height: 100%;
            stroke: var(--frontColor2);
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 1px;
        }
    }

    header {
        position: fixed;
        width: 30%;
        min-width: 300px;
        top: 0;
        right: 0;
        margin: 2.5rem 1.5rem;
    }

    router-outlet {
        display: block;
        height: 0;
    }
}