@media (min-width: 768px) {
    header {
        position: fixed;
        width: 30%;
        min-width: 300px;
        top: 0;
        right: 0;
        margin: 2.5rem 1.5rem;
    }

    router-outlet {
        display: block;
        height: 0;
    }
}