/* You can add global styles to this file, and also import other style files */
:root {
    font-size: clamp(16px, 2dvmax, 32px);
    font-family: "Titillium Web", sans-serif;
}

:root::before {
    content: "Currently this website is only work on large screen. Development is ongoing.";
    position: absolute;
    top: 0;
    left: 0;
    color: black;
}

body {
    display: none;
}

button {
    font-family: "Titillium Web", sans-serif;
    color: var(--frontColor2);
    cursor: pointer;
}

@media (min-width: 768px) {
    :root {
        font-size: clamp(12px, 1.5dvmax, 20px);
    }

    :root::before {
        display: none;
    }

    html {
        position: fixed;
        width: 100dvw;
        height: 100dvh;
        overflow: hidden;
        background-color: var(--backColor1);
        color: var(--frontColor1);
    }

    html.bright {
        --frontColor1: rgba(18, 17, 17, 1);
        --frontColor2: rgba(18, 17, 17, 1);
        --frontColor3: rgba(224, 152, 173, 1);
        --frontColor4: rgba(224, 152, 173, 0.5);
        --frontColor5: rgba(244, 241, 237);
        --frontColor6: #739ccc;
        --backColor1: rgba(244, 241, 237, 0.7);
        --backColor2: rgba(244, 241, 237, 0.5);
        --backColor3: rgba(18, 17, 17, 0.1);
        --backColor4: rgba(244, 241, 237, 0.3);
        --backColor5: rgba(244, 241, 237, 0.1);
        --backColor6: rgba(18, 17, 17, 0.15);
        --backColor7: rgba(18, 17, 17, 0.7);
        --backColor8: rgba(244, 241, 237, 0.5);
        --borderColor: rgba(18, 17, 17, 0.5);
        --borderColor2: rgba(18, 17, 17, 0.2);
        --borderColor3: rgba(18, 17, 17, 0.1);
        --borderColor4: rgba(18, 17, 17, 0.3);
        --borderColor5: rgba(18, 17, 17, 1);
        

        background: #e3d3bb url("assets/pawel-czerwinski-rsB6JZg6rVs-unsplash.jpg") center/cover no-repeat fixed;
    }

    html.bright::after {
        content: "";
        position: absolute;
        inset: 0;
        background: url("assets/dan-cristian-padure-3bb9RUp86M0-unsplash_m.jpg") center/cover no-repeat fixed;
        z-index: -2;
        opacity: 0.6;
    }

    html.dark {
        --frontColor1: rgba(244, 241, 237);
        --frontColor2: rgba(244, 241, 237);
        --frontColor3: #4A2E2A;
        --frontColor4: rgba(74, 46, 42, 0.5);
        --frontColor5: rgb(18, 17, 17);
        --frontColor6: #405029;
        --backColor1: rgba(244, 241, 237, 0.3);
        --backColor2: rgba(244, 241, 237, 0.5);
        --backColor3: rgba(244, 241, 237, 0.1);
        --backColor4: rgba(244, 241, 237, 0.2);
        --backColor5: rgba(244, 241, 237, 0.05);
        --backColor6: rgba(244, 241, 237, 0.15);
        --backColor7: rgba(244, 241, 237, 0.7);
        --backColor8: rgba(244, 241, 237, 0.2);
        --borderColor: rgba(244, 241, 237, 0.5);
        --borderColor2: rgba(244, 241, 237, 0.2);
        --borderColor3: rgba(244, 241, 237, 0.1);
        --borderColor4: rgba(244, 241, 237, 0.3);
        --borderColor5: rgba(244, 241, 237, 0.8);
        

        background: var(--frontColor5) url("assets/nathan-watson-a4Goc6z9eQs-unsplash.jpg") center/cover no-repeat fixed;
        background-position-y: top;
    }

    html.dark::after {
        content: "";
        position: absolute;
        inset: 0;
        background: var(--frontColor5);
        z-index: -2;
        opacity: 0.8;
    }

    body {
        display: initial;
        position: absolute;
        margin: 0;
        padding: 0;
        inset: 18% 18% 14% 18%;
        border: 1px solid;
        border-image: radial-gradient(transparent 80%, var(--borderColor) 85%, var(--borderColor) 99.8%, transparent) 1;
    }
    
    body.bright {
        background: #e3d3bb url("assets/pawel-czerwinski-rsB6JZg6rVs-unsplash.jpg") center/cover no-repeat fixed;

        .week .mo::after {
            background: #e3d3bb url("assets/pawel-czerwinski-rsB6JZg6rVs-unsplash.jpg") center/cover no-repeat fixed;
        }

        .week .mo::before {
            background: url("assets/dan-cristian-padure-3bb9RUp86M0-unsplash_m.jpg") center/cover no-repeat fixed;
            opacity: 0.7;
        }
    }

    body.bright::after {
        content: "";
        position: absolute;
        inset: 0;
        background: url("assets/dan-cristian-padure-3bb9RUp86M0-unsplash_m.jpg") center/cover no-repeat fixed;
        opacity: 0.7;
    }

    body.bright::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: transparent;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    body.dark {
        background: var(--frontColor5) url("assets/nathan-watson-a4Goc6z9eQs-unsplash.jpg") center/cover no-repeat fixed;
        background-position-y: top;

        .week .mo::after {
            background: var(--frontColor5) url("assets/nathan-watson-a4Goc6z9eQs-unsplash.jpg") center/cover no-repeat fixed;
            background-position-y: top;
        }

        .week .mo::before {
            background: var(--frontColor5);
            opacity: 0.5;
        }
    }

    body.dark::after {
        content: "";
        position: absolute;
        inset: 0;
        background: var(--frontColor5);
        opacity: 0.5;
    }

    body.dark::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: transparent;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        box-shadow: 0 0 10px var(--borderColor4);
    }

    body.home {
        background: none;

        & app-root {
            position: absolute;
            inset: 0;
            border: none;
        }
    }

    body.home::before {
        display: none;
    }

    body.home::after {
        display: none;
    }
    
    app-root {
        position: absolute;
        inset: 4.5rem 2rem 1rem 2rem;
        border-top: 1px solid var(--borderColor);
    }
}