@keyframes ripple {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    50% {
        transform: scale(2);
        opacity: 1;
    }

    100% {
        transform: scale(3);
        opacity: 0;
    }
}

@media (min-width: 768px) {
    :host {
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    p {
        font-size: 1.5rem;
        font-weight: 300;
    }

    div.ripple {
        margin-block: 5rem 2rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        & button {
            position: relative;
            display: flex;
            justify-content: center;
            font-size: 0.9rem;
            font-weight: 600;
            background: none;
            border: none;
            padding: 0.5rem;
            z-index: 10;
            color: var(--frontColor2);
        }
    
        & button:is(:hover, :focus)::after {
            content: attr(data-title);
            width: max-content;
            text-transform: none;
            font-size: 0.9rem;
            font-weight: 400;
            padding: 0.1rem 0.3rem;
            display: block;
            position: absolute;
            bottom: 100%;
        }

        .click {
            position: absolute;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            box-shadow: 0 0 5px 3px var(--backColor8);
            opacity: 0;
            border-radius: 50%;
        }

        .hover:nth-child(2) {
            width: 3rem;
            height: 3rem;
            animation: ripple 3s linear infinite;
        }
        .hover:nth-child(3) {
            width: 4rem;
            height: 4rem;
            animation: ripple 3s 2.5s linear infinite;
        }
        .hover:nth-child(4) {
            width: 5rem;
            height: 5rem;
            animation: ripple 3s 4.5s linear infinite;
        }

        & button:is(:hover, :focus) ~.click:nth-child(5) {
            width: 15rem;
            height: 15rem;
            animation: ripple 2s linear infinite;
        }
        & button:is(:hover, :focus) ~.click:nth-child(6) {
            width: 18rem;
            height: 18rem;
            animation: ripple 2s 1.5s linear infinite;
        }
        & button:is(:hover, :focus) ~.click:nth-child(7) {
            width: 20rem;
            height: 20rem;
            animation: ripple 2s 3s linear infinite;
        }
    }
}